<table class="table table-striped table-bordered">
<tr>
    <th>BHAA ID</th>
    <th>Name</th>
    <th>DOB</th>
    <th>Status</th>
    <th>Company</th>
    <th>Race Number</th>
    <th>Assign</th>
</tr>
{{#runners}}
<tr>
    <td>{{runner}}</td>
    <td>{{firstname}} {{lastname}}</td>
    <td>{{dateofbirth}}</td>
    <td>{{status}}</td>
    <td>{{companyname}}</td>
		<!-- TODO admin url and nonce -->
		<form action="{{home_url}}/wp-admin/admin.php" id="bhaa_raceday_admin_prereg_form" method="POST">
		<td>
			<input type="hidden" name="action" value="bhaa_raceday_admin_prereg"/>
			<input type="text" name="number"/>
			<input type="hidden" name="raceid" value="{{race}}">
			<input type="hidden" name="runner" value="{{runner}}">
			<input type="hidden" name="money" value="10">
		</td>
		<td>
			<!-- TODO add validation for the number -->
			<input class="btn btn-success" role="button"
				type="submit" value="{{firstname}} {{lastname}} Race Number"/>
		</td>
		</form>
</tr>
{{/runners}}
</table>
