/*!
 * Allow the form layout to be controlled via css 
 * http://jsfiddle.net/kY5LL/12/
 http://jsfiddle.net/jhfrench/Hzucn/
 *
 */

@CHARSET "ISO-8859-1";

/** http://stackoverflow.com/questions/28678542/how-to-change-bootstraps-global-default-font-size {*/
    /*font-size: 19px;*/
/*}*/

/*.result-list th, .result-list td, .list-table th, .list-table td {*/
    /*padding: 2px 2px 2px 4px;*/
    /*border-right: 1px solid #DEDEDE;*/
    /*font-size: 11px;*/
    /*vertical-align: top;*/
/*}*/

/*.result-list th, .list-table th {*/
    /*background-color: #AAA;*/
    /*color: white;*/
    /*font-weight: bold;*/
    /*text-transform: none;*/
    /*font-size: 10px;*/
    /*border-right: 1px solid #CBD6E1;*/
/*}*/

/*#results-table {*/
    /*height: auto;*/
    /*padding: 0px 0px 0px 0px;*/
    /*margin: 0px 0 0px 0px;*/
    /*background-color: #FFFFFF;*/
    /*font-size: 11px;*/
    /*font-weight: normal;*/
    /*color: #000000;*/
    /*text-decoration: none;*/
/*}*/

/**
 * https://kuler.adobe.com/Neutral-Blue-color-theme-22361/
 */
#divisionA { background-color:#37589b; }
#divisionB { background-color:#37589b; }
#divisionC { background-color:#37589b; }
#divisionD { background-color:#37589b; }
#divisionE { background-color:#37589b; }
#divisionF { background-color:#37589b; }
#divisionL1 { background-color:#37589b; }
#divisionL2 { background-color:#37589b; }

li.error { display:block;width:100%; color: red; padding-left: .5em; vertical-align: top; }

.column-position { text-align:left; width:20px; }
.column-racenumber { text-align:left; width:20px; }
.column-display_name { text-align:center; width:100px; }
.column-racetime { text-align:center; width:100px; }
.column-category { text-align:center; width:100px; }
.column-gender { text-align:center; width:100px; }
.column-posincat { text-align:center; width:100px; }
.column-standard { text-align:center; width:100px; }
.column-posinstd { text-align:center; width:100px; }
.column-cname { text-align:center; width:100px; }

.form-example {
    max-width: 400px;        
    margin: 0 auto;
    padding: 25px;
    background: #fff;
    border-radius: 6px;
    box-shadow: 0 1px 3px rgba(0,0,0,.2);
}

.form-example input[type="text"],
.form-example input[type="email"],
.form-example input[type="password"] {
    font-size: 16px;
    height: auto;
    padding: 7px 9px;
}
.form-footer a {
    font-size: 12px;
    display: inline-block;
    margin-top: 15px;
}

.first-name,
.last-name {
    width: 48%;
    display: inline-block;
    float: left;
}
.last-name {
    float: right;
}

/* http://bootsnipp.com/snippets/featured/stylish-search-box */
#custom-search-input {
    margin:0;
    margin-top: 10px;
    padding: 10px;
}

#custom-search-input .search-query {
    padding-right: 3px;
    padding-right: 4px \9;
    padding-left: 3px;
    padding-left: 4px \9;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */

    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#custom-search-input button {
    border: 0;
    background: none;
    /** belows styles are working good */
    padding: 2px 5px;
    margin-top: 2px;
    position: relative;
    left: -28px;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color:#D9230F;
}

.search-query:focus + button {
    z-index: 3;
}